$vw = 0.266vw
$vh = 100vh
.m-no-template-container
  width 100%
  height 100%
  text-align center
  .m-nodata-img
    width 253 * $vw
    height 207 * $vw
    vertical-align middle
    margin-bottom 25 * $vw
    margin-top 20 * $vw
  .m-nodata-info
    font-size 14 * $vw
    line-height 21 * $vw
    color #fff