.nodata-container
  width 100%;
  height 100%;
  position relative
  .no-template-container
    position absolute;
    left 50%;
    top: 50%;
    transform translate(-50%,-50%);
    text-align center
  .nodata-img
    width 177px
    height 177px
    margin-bottom 17px
  .nodata-info
    margin 0
    padding 0
    color #dddddd
    line-height 17px
    font-weight 400
    font-size 12px

