// 容器
#liveroom{
  width: 100%
  height: 100%
  display: flex
  // background: orange
}

// 播放器容器
.main-content{
  position relative
  width 100%
  height 100% 
  #player-container{
    width 100%
    height 100% 
  }
}

