
@import '~@/theme.styl'

@keyframes ldio-vr4xjc5s5qi {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.init {
  width: 100%;
  height 100%;
  position relative
}
.ldio-vr4xjc5s5qi div {
  left: 93.58999999999999px;
  top: 66.85px;
  position: absolute;
  animation: ldio-vr4xjc5s5qi linear 1s infinite;
  //// background: #03a8e8;
  background: $primary-color;
  width: 3.82px;
  height: 15.28px;
  border-radius: 1.91px / 5.5008px;
  transform-origin: 1.91px 28.65px;
}.ldio-vr4xjc5s5qi div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
 // background: #03a8e8;
  background: $primary-color;
}.ldio-vr4xjc5s5qi div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
 // background: #03a8e8;
  background: $primary-color;
}.ldio-vr4xjc5s5qi div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
 // background: #03a8e8;
  background: $primary-color;
}.ldio-vr4xjc5s5qi div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
 // background: #03a8e8;
  background: $primary-color;
}.ldio-vr4xjc5s5qi div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
 // background: #03a8e8;
  background: $primary-color;
}.ldio-vr4xjc5s5qi div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
 // background: #03a8e8;
  background: $primary-color;
}.ldio-vr4xjc5s5qi div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
 // background: #03a8e8;
  background: $primary-color;
}.ldio-vr4xjc5s5qi div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
 // background: #03a8e8;
  background: $primary-color;
}.ldio-vr4xjc5s5qi div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
 // background: #03a8e8;
  background: $primary-color;
}.ldio-vr4xjc5s5qi div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
 // background: #03a8e8;
  background: $primary-color;
}.ldio-vr4xjc5s5qi div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
 // background: #03a8e8;
  background: $primary-color;
}.ldio-vr4xjc5s5qi div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
 // background: #03a8e8;
  background: $primary-color;
}
.loadingio-spinner-spinner-qz3svthqh7m {
  width: 191px;
  height: 191px;
  display: inline-block;
  overflow: hidden;
  // background: #ffffff;
  text-align: center;
  font-size: 10px;
  position: absolute;
  left:50%;
  top:50%;
  margin-top:-30px;
  transform: translate(-50%,-50%) scale(0.7);
}
.ldio-vr4xjc5s5qi {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  transform-origin: center;
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-vr4xjc5s5qi div { box-sizing: content-box; }
